<div class="about">
    <div class="container">
        <!--div class="jumbotron about">
            <h2> “Ragadirogan satatanushakthanasheshakayaprasrutanasheshan  I
                Outhsukyamoharadidanjaghana yopurvavaidyaya namostu thasmai  II”
            </h2>
            <p>We pray to the divine healer endowed with the power to cure all, even the harshest diseases, to their very root.</p>
        </div-->
        <div class="row">
            <div class="col-md-9" role="main">
                <div id="about" class="bs-docs-section">
                    <div class="section-break"></div>
                    <h3 class="page-header decor">About Us</h3>
                    <div>Ancient sages described Ayurveda a complete science of life and health. Originating nearly 5,000 years ago, Ayurveda is the treasure to all mankind and it offers us a path to health that is available for all who truly seek it. A true health is an expression of happiness, unbounded energy, vitality and joy. This is the gift of Ayurveda those who adopt it, and can live life to its fullest satisfaction. This holistic science, addresses the mind, body and soul simultaneously thus, not only cures diseases, but help people to arrive at perfect health.</div>
                </div>
                <div class="bs-docs-section">
                    <h4 class="page-header">Treatment Concept in Ayurveda</h4>
                    <blockquote class="text-center green">
                        <strong>
                            <i class="fa fa-quote-left"></i>
                            Ragadirogan satatanushakthanasheshakayaprasrutanasheshan  I
                            <br>
                            Outhsukyamoharadidanjaghana yopurvavaidyaya namostu thasmai  II
                            <i class="fa fa-quote-right"></i>
                        </strong>
                        <br>
                        <h5>We pray to the divine healer endowed with the power to cure all, even the harshest diseases, to their very root.</h5>
                    </blockquote>
                    <p>Starting with the pray to divine healer to cure the disease by its root, Ayurveda explain various treatment methods to manage diseases. It is mainly based on the theory of three elements vata, pitta and kapha and their balance and imbalance. The signs and symptoms, complications, treatment, diet etc of diseases are well explained in Ayurveda classics.</p>
                    <p>Treatments of diseases are explained in various methods like surgical, with medicine and with sodhana procedures, changing the life style.</p>
                </div>
                <div id="keraleeyam" class="bs-docs-section">
                    <div class="section-break"></div>
                    <h3 class="page-header decor">Keraleeyam Ayurvedam</h3>
                    <!--<p>&nbsp;</p>-->
                <!--</div>-->
                <!--<div class="bs-docs-section">-->
                    <p>Kerala has a glorious tradition of Ayurvedic healthcare system centuries before, commonly known as <strong>Special treatments of Kerala</strong>. This includes many procedures such as pizhichil, njavarakkizhi, takradhara, talapothichil, etc.</p>
                    <h4 class="page-header">Ayurveda panchakarma</h4>
                    <p>Panchakarma are the 5 important purificatory procedures in Ayurveda and it includes:</p>
                    <h4 class="page-header">Vamana</h4>
                    <p>Cleansing the body by induce vomiting with the help of special herbal medications.It is mainly indicated in kaphaja vikaras.</p>
                    <h4 class="page-header">Virechana</h4>
                    <p>Detoxifies body with the help of herbal medicines which has purgative properties. Helpful in the detoxification in pitta vikara.</p>
                    <h4 class="page-header">Nasyam</h4>
                    <p>Pouring drops of medicated oil or other special preparations to clean the head and neck region like sinusitis, migraine and neural disorders related to head and also for pimple and hair fall.</p>
                    <h4 class="page-header">Anuvasana Vasti</h4>
                    <p>Enema using oil. Helpful in vata vitiated conditions.</p>
                    <h4 class="page-header">Niruha Vasti</h4>
                    <p>Enema with mixture of herbal decoction, oil, honey, kalka, etc. This purificatory method is used in combination with anuvasana vasti in vata vitiated conditions. As vata is the active dosha in disease pathogenesis controlling vata through enema can help to stay healthy.</p>
                    <p>Unhealthy lifestyle and exposure to various physical chemical and biological agents, extreme weather condition, unhealthy diets and over exertion from physical or mental activities are considered as the major causes of imbalance of doshas which are leading to diseases. Panchakarmas get into the root causes of the problem and corrects the essential balance of tridosha in the body. Panchakarma not only alleviate disease but also maintain health by eliminating toxins timely from the body.</p>
                    <p>&nbsp;</p>
                    <p><strong>Keraleeyam- An Ayurvedic Panchakarma centre at Chattarpur, Delhi, India</strong> is a fully equipped treatment centre operational as per the above concept for all who truly seek it with amenities of expert and qualified    Ayurveda doctors, male and female therapists, pharmacy, panchakarma clinic, treatment section, ayurvedic restaurant serving organic meals and yogashala to practice yoga while undergoing treatment to deliver the advantages of this universal science, in complete harmony with nature.</p>
                </div>
                <div id="management" class="bs-docs-section">
                    <div class="section-break"></div>
                    <h3 class="page-header decor">Management</h3>
                    <!--<p>&nbsp;</p>-->
                <!--</div>-->
                <!--<div class="bs-docs-section">-->
                    <h4 class="page-header">Doctor</h4>
                    <p><strong>Dr Salini Vikas,BAMS</strong> from the most prestigious Ayurveda College in India, Vaidyaratnam P S Varier Ayurveda College Kottakkal, Kerala and Post graduate diploma in clinical research (PGDCR).
                        Working experiences with renowned institution like Kottakkal  Aryavaidyasala and Kerala Ayurveda ltd, in Kerala and New Delhi.</p>
                <!--</div>-->
                <!--<div class="bs-docs-section">-->
                    <h4 class="page-header">Therapists</h4>
                    <p>Keraleeyam have qualified and traditionally experienced male and female therapists hailing from kerala capable of communicate patients in multi languages.</p>
                <!--</div>-->
                <!--<div class="bs-docs-section">-->
                    <h4 class="page-header">Pharmacy</h4>
                    <p>Traditional Ayurvedic medicines and new generation pure herbal medicines from reputed manufacturers are available.</p>
                </div>
                <div id="treatment" class="bs-docs-section">
                    <div class="section-break"></div>
                    <h3 class="page-header decor">Panchkarma theatre and treatment section</h3>
                    <!--<p>&nbsp;</p>-->
                <!--</div>-->
                <!--<div class="bs-docs-section">-->
                    <p>Well maintained and clean panchakarma theatre and treatment section are the specialty of Keraleeyam.</p>
                    <p>Equipped with traditional medicated wooden Droni, Steam chamber, Herbal steam, Sirodhra stand.</p>
                    <p>Sterilized utensils and disposable enema equipments for Panchkarma treatments.</p>
                <!--</div>-->
                <!--<div class="bs-docs-section">-->
                    <h4 class="page-header">Herbal garden</h4>
                    <p>The small and beautiful herbal garden at keraleeyam helps to get familiar with important Ayurvedic medicinal plants.</p>
                <!--</div>-->
                <!--<div class="bs-docs-section">-->
                    <h4 class="page-header">Ayurvedic food</h4>
                    <p>Keraleeyam provides patient with specific food after certain treatments.</p>
                <!--</div>-->
                <!--<div class="bs-docs-section">-->
                    <h4 class="page-header">Yogasala</h4>
                    <p>Provides yoga practice under experienced Yoga Guru. (on advance booking)</p>
                </div>
            </div>
            <div class="col-md-3" style="padding-top:40px;">
                <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" role="complementary">
                    <ul class="nav bs-docs-sidenav">
                        <!--li><a ng-class="{active:isActive('about')}" href="#about">About</a></li>
                        <li><a ng-class="{active:isActive('keraleeyam')}" href="#keraleeyam">Keraleeyam Ayurveda</a></li>
                        <li><a ng-class="{active:isActive('management')}" href="#management">Management</a></li>
                        <li><a ng-class="{active:isActive('treatment')}" href="#treatment">Panchakarma Treatment</a></li-->
                        <li><a ng-class="{active:isActive('about')}" ng-click="moveTo('about')">About</a></li>
                        <li><a ng-class="{active:isActive('keraleeyam')}" ng-click="moveTo('keraleeyam')">Keraleeyam Ayurveda</a></li>
                        <li><a ng-class="{active:isActive('management')}" ng-click="moveTo('management')">Management</a></li>
                        <li><a ng-class="{active:isActive('treatment')}" ng-click="moveTo('treatment')">Panchakarma Treatment</a></li>

                    </ul>
                    <p>&nbsp;</p>
                    <!--a class="back-to-top" href="#top">
                        Back to top
                    </a-->
                </div>
            </div>
        </div>
    </div>
</div>
