<div>
    <div class="container">
        <h3 class="page-header decor">Contact Us</h3>
        <div class="row-fluid">
            <div class="col-md-8">
                <form class="form-horizontal" ng-submit="save()" role="form" name="queryForm" novalidate>
                    <div class="form-group">
                        <div class="alert alert-success" ng-show="successResponse" role="alert">{{successResponseMessage}}</div>
                        <div class="alert alert-danger"  ng-show="errorResponse" role="alert">{{errorResponseMessage}}</div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength=3 ng-maxlength=20 placeholder="Name" ng-required="true">
                        <div class="error"
                             ng-show="queryForm.name.$dirty && queryForm.name.$invalid">
                            <small class="error text-danger"
                                   ng-show="queryForm.name.$error.required">
                                Your name is required.
                            </small>
                            <small class="error text-danger"
                                   ng-show="queryForm.name.$error.minlength">
                                Your name is required to be at least 3 characters
                            </small>
                            <small class="error text-danger"
                                   ng-show="queryForm.name.$error.maxlength">
                                Your name cannot be longer than 20 characters
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" ng-required="true">
                        <div class="error"
                             ng-show="queryForm.email.$dirty && queryForm.email.$invalid">
                            <small class="error text-danger"
                                   ng-show="queryForm.email.$error.required">
                                Your email id is required.
                            </small>
                            <small class="error text-danger"
                                   ng-show="queryForm.email.$error.email">
                                Your email id is invalid
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="comment" class="form-control" rows="10" ng-model="user.description" ng-minlength=20 placeholder="Comments" ng-required="true"></textarea>
                        <div class="error"
                             ng-show="queryForm.comment.$dirty && queryForm.comment.$invalid">
                            <small class="error text-danger"
                                   ng-show="queryForm.comment.$error.required">
                                Your query is required.
                            </small>
                            <small class="error text-danger"
                                   ng-show="queryForm.comment.$error.minlength">
                                Your name is required to be at least of 20 characters
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" ng-disabled="queryForm.$invalid || queryForm.name.$dirty && queryForm.name.$invalid ||
queryForm.email.$dirty && queryForm.email.$invalid || queryForm.comment.$dirty && queryForm.comment.$invalid" style="float:right;">Send Your Message</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="sidebox">
                            <h4 class="title decor">Keraleeyam Ayurveda</h4>
                            <p></p>
                            <address>
                            C – 132<br>
                            Chattarpur Enclave Phase 2<br>
                            100ft road<br>
                            New Delhi-110074<br>
                            <abbr title="Phone">P:</abbr> (011) 165255692</address>
                            <address>  <strong>Email</strong><br>
                                <a href="mailto:#">keraleeyamdelhi@gmail.com</a></address>
                            <p></p>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
