<div class="footer">
    <div class="container">
        <div class="row social-wrapper align-center">
            <div class="col-sm-12">
                <ul class="social-network social-circle">
                    <li><a ng-href="/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a ng-href="/" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a ng-href="/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-12">
                <p> © 2014 Ayurveda Keraleeyam - <a ng-href="/" class="hide-on-mobile-view" id="tnc">Terms and
                    Conditions</a><span> - </span><a ng-href="/" class="hide-on-mobile-view" id="disclaimer">Disclaimer</a><span> - </span>All rights reserved.
                </p>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-12">
                <!--<p> Developed by - <a ng-href="http://isparza.com" target="_blank"> <img src="img/isparza.png" /> iSparza Technologies</p>-->
                <p> Developed by - Mohit Pandey</p>
            </div>
        </div>
    </div>
</div>