<!--<nav class="navbar navbar-fixed-top" role="navigation">-->
<nav class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="">
                <span class="logo-title">Keraleeyam</span><br>
                <span class="logo-sub-title">an ayurveda and panchakarma centre</span>
            </a>
        </div>
        <!--<div class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">-->
        <div class="navbar-collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">Gallery</a></li>
                <li><a href="../navbar-static-top/">Treatments</a></li>
            </ul>
        </div>
    </div>
</nav>