<div>
    <div class="jumbotron home">
        <carousel interval="interval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img class="banner" src="{{slide.image}}" />
                <!--<div class="banner" style="background:url({{slide.image}})"></div>-->
                <div class="carousel-caption">
                    <h1>{{slide.heading}}</h1>
                    <p>{{slide.content}}</p>
                </div>
            </slide>
        </carousel>
    </div>
    <div class="container text-center">
        <h3 class="row-header">OUR PACKAGES</h3>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="img/packages/jeevana.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h4>Jeevana (Rejuvenation Programme)</h4>
                <p class="text-justify">Prevention is better than cure. Ayurveda the holistic science helps to stay healthy in natural way.Get the spirit of ayurveda for a better living through the rejuvenation programme with certain therapies like abhyangam pizhichil, sirodhara, sarvanga kheera dhara, etc along with rasayana therapy.</p>
                <p>
                    <strong>
                        1 day – 2.5 hour treatment <br>
                        7 days - 1.5 hour everyday
                    </strong>
                </p>
                <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="img/packages/langhana.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h4>Langhana (Weight Loss Programme)</h4>
                <p class="text-justify">Ayurveda considered obesity as medoroga. Kapha is the dosha which is responsible for accumulation of excessive fat in the body. Herbal remadies are explained in Ayurvda classics to reduce weight. Ayurveda classics explain Herbal powder massage udwarthanam is very useful in reducing weight and lowering cholesterol. Certain panchakarma therapies are also helpful in weight loss therapy.</p>
                <p>
                    <strong>
                        14 days - 1.5 hour everyday <br>
                        21 days - 1 hour everyday
                    </strong>
                </p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="img/packages/soundharya.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h4>Soundharya (Beauty Programme)</h4>
                <p class="text-justify">Today’s life style makes everybody beuty concious. Everybody use different kinds of beauty products depending mainly upon advertisement without realizing the quality or side effects. Our Ayurvedic centre provides natural beauty treatments like herbal scrub, special ayurvedic facial, bridal beauty package, etc to gain beauty with maintaining health. Special treatments for pimple, hairfall, increased hair growth, obesity, loosing of weight are also available.</p>
                <p>
                    <strong>
                        1 day - 1 hour to 2 hour <br>
                        7 days - 1.5 hour everyday
                    </strong>
                </p>
            </div>
        </div>
        <div class="section-break">
            <p>&nbsp;</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="img/packages/sodhana.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h4>Sodhana (Detoxification Programme)</h4>
                <p class="text-justify">Unhealthy lifestyle, exposure to various physical chemical and biological agents, extreme weather condition, unhealthy diets and over exertion from physical or mental activities are considered as the major causes of imbalance of doshas. Cleaning the body from the toxins accumulated in body to cause imbalance of doshas helps to balance doshas and to stay healthy. Detoxification programme consists  of eliminate the causes of imbalance of doshas, administration of various ayurvedic formulas, dietery changes to bring doshas back to balance, elimination of mental stress  to recover health.</p>
                <p>
                    <strong>
                        8 days - 1.5 hour everyday <br>
                        14 days - 1 hour everyday
                    </strong>
                </p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="img/packages/santhuana.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h4>Santhuana (Stress Relieving Programme)</h4>
                <p class="text-justify">The fast and furious life with frustrations, deadlines and demands make the stress as a life companoin for most of people. Beyod its tolerate level stress starts causing major damage to health, mood, productivity, relationships and quality of life. Ayurveda helps to manage stress by treatments like abhyanga and sirodhra along with herbal medication.</p>
                <p>
                    <strong>
                        7 days - 1.5 hour everyday <br>
                        14 days - 1 hour everyday
                    </strong>
                </p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="img/packages/soukhya.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h4>Soukhya (Illness Curing Programme)</h4>
                <p class="text-justify">The importance of any medical science is curing diseases. Ayurvedic appoach and management of disease are different. Our team of qualified doctors and experienced therapy staff helps to reach our main goal of treating dieases.
                    Special massages, pottali treatments and pachakarma therapies to treat different illness like arthritis, spondylitis, sciatica; tarpanam and seka like eye treatment to make healthy eyes; joinr care treatments like janu vasti, kati vati, pottali massage,; sirodhra mainly to treat stress and nerve problems,;takra dhara,  and virechana to cure skin disease; nasya mainly to treat sinus problems and other head aches; special enema therapies, marma treatment, fracture and bruice management, etc  are available in keraleeyam
                    .</p>
                <p>
                    <strong>
                        7 days - 1 hour everyday <br>
                        14 days - 1 hour everyday <br>
                        21 days - 1 hour everyday
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
